@import "@styles/variables"
@import "@styles/breakpoints"

.row
  position: relative
  align-items: flex-start
  z-index: 2

// Background
.background
  position: absolute
  z-index: -1
  right: 160px
  top: 300px

//.background2
//  left: 400px
//  bottom: 0

.form
  display: flex
  flex-direction: column
  width: 50%
  justify-content: flex-start

.block
  margin-bottom: 48px

.input
  &:not(:last-child)
    margin-bottom: 16px

.timeLabel
  margin-bottom: 6px
  margin-left: 14px
  font-size: 1.125rem
  font-weight: 600

.timeWrapper
  display: flex
  &:not(:last-child)
    margin-bottom: 16px

.inputTime
  min-width: auto
  width: 120px
  text-align: center
  &:not(:last-child)
    margin-right: 20px

.inputTimeLabel
  margin-left: 0

.inputTimeInput
  text-align: center

.item
  font-size: 1.125rem
  font-weight: 600
  padding-left: 14px
  &.active
    color: $secondary-100
  &:not(:last-child)
    margin-bottom: 16px
  strong
    font-weight: 900