@import "@styles/variables"
@import "@styles/breakpoints"

.root
  padding: 20px
  font-size: 1.125rem
  font-weight: 600
  transition: color $animationTime
  &:hover
    color: $secondary-100
  &.active
    color: $accent-100
    font-weight: 900
