@import "@styles/variables"
@font-face
  font-family: "Donut Quest"
  src: url("/fonts/DonutQuest/DonutQuest.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap
@font-face
  font-family: "CloudPangToYuGBK"
  src: url("/fonts/CloudPangToYuGBK/CloudPangToYuGBK.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap
@font-face
  font-family: "Airfool"
  src: url("/fonts/Airfool/Airfool.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-Regular.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap
@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-SemiBold.ttf")
  font-style: normal
  font-weight: 600
  font-display: swap
@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-Black.ttf")
  font-style: normal
  font-weight: 900
  font-display: swap

html,
body
  padding: 0
  margin: 0
  line-height: 1.25
  font-size: 16px
  font-family: $font
  background-color: $light-80
  color: $dark-100
  min-width: 320px

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1, h2
  font-family: $font-header

html[lang="zh"]
  h1, h2
    font-family: $font-header-cn

html[lang="ru"], html[lang="uk"]
  h1, h2
    font-family: $font-header-ru

a
  color: inherit
  text-decoration: none
  cursor: pointer

button
  padding: 0
  margin: 0
  background-color: transparent
  box-shadow: none
  outline: none
  border: none
  cursor: pointer
  &:disabled
    cursor: not-allowed

ul, ol
  list-style: none
  padding: 0
  margin: 0

.ReactModal__Body--open
  overflow-y: hidden
  height: 100vh